.container {
  width: 100%;
  background-color: transparent;
  color: white;
  max-height: 100px;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 9;
  .wrapper {
    width: 100%;
    display: flex;
    padding: var(--main-margin) 0;
    justify-content: space-between;
    align-items: center;

    .list {
      display: flex;
      list-style: none;
      margin: 0;
      align-items: center;

      .list_item {
        padding: 0 var(--main-margin);
        font-size: var(--title-font-size);
        border-left: 1px solid white;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: right;
        .contact_tel {
          font-size: 80%;
          opacity: 0.6;
        }
        &:first-child {
          border: none;
        }
      }
    }
  }
}
