.container {
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/images/ferrari.jpg');
  background-position: center;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  .wrapper {
    position: relative;
    z-index: 2;
    .title {
      width: 80%;
      font-size: calc(var(--hero-font-size) * 2);
      line-height: calc(var(--hero-line-height) * 1.3);
      margin-top: 180px;
      color: white;
    }
    .about {
      margin-top: calc(var(--main-margin) * 2);
      color: white;
      font-size: var(--title-font-size);
    }
    .form {
      width: 100%;
      padding: 5px 0;
      margin-top: 220px;
      flex-wrap: wrap;
      border-radius: var(--big-radius);
      background-color: var(--primary-color);
      display: flex;
      flex-direction: row;
      position: relative;

      .options {
        position: absolute;
        bottom: 100%;
        left: 5px;
        display: flex;
        width: 50%;
        justify-content: space-between;
        background-color: var(--button-color);
        border-radius: var(--small-radius);
        padding: 3px;
        .option {
          width: 100%;
          padding: 10px 0;
          display: flex;
          justify-content: center;
          font-size: var(--title-font-size);
          line-height: var(--title-line-height);
          color: white;
          border-radius: var(--small-radius);
          cursor: pointer;
          transition: linear all 0.4s;
        }
      }
      .inputs {
        min-width: 80%;
        .form_group {
          display: flex;
          margin: 5px 5px;
          position: relative;
          .action_button {
            position: absolute;
            left: -35px;
            top: 10px;
            cursor: pointer;
            svg {
              font-size: 30px;
            }
          }
          .action_button_plus {
            svg {
              color: green;
            }
          }
          .action_button_minus {
            svg {
              color: red;
            }
          }
          .car_option {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 5px 15px;
            margin: 0 5px;
            font-size: var(--title-font-size);
            line-height: var(--title-line-height);
            color: white;
            border-radius: var(--small-radius);
            cursor: pointer;
            transition: 0.4s linear all;
            justify-content: center;
          }
          .car_option_active {
            background-color: rgba(0, 0, 0, 0.3);
          }
        }
      }
      .actions {
        min-width: 20%;
        padding: 5px 10px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
          font-size: var(--title-font-size);
          line-height: var(--title-line-height);
        }
        h1 {
          font-size: var(--head-font-size);
          line-height: var(--head-line-height);
        }
      }
    }
  }
}

.active_option {
  background-color: var(--button-active-color) !important;
}

.label {
  border-radius: var(--small-radius);
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 5px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  svg {
    color: white;
  }
  .input::placeholder {
    color: white;
  }
  .input {
    // padding: 10px 15px;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    font-size: var(--text-font-size);
    line-height: var(--text-line-height);
    font-family: 'Helvetica', sans-serif;
  }
}
