.wrapper {
  margin-top: 130px;
  .block {
    h1 {
      margin-bottom: 40px;
    }
    .card {
      cursor: pointer;
      .card_img {
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        height: 250px;
      }
      .card_body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h6 {
          color: var(--button-color);
          font-weight: 600;
          font-size: 20px;
          line-height: 32px;
          margin: 0;
          margin-top: 15px;
        }
        p {
          font-size: 14px;
          line-height: 22px;
          margin: 0;
          margin-top: 6px;
          color: #818181;
        }
      }
    }
  }
}
