:root {
  /* main color template */
  --primary-color: rgb(36, 114, 187);
  --secondary-color: rgb(13 48 121);
  --dark-color: #0f1826;
  --text-color: #343a40;
  --info-color: #818181;
  --bg-color: #0eb182;
  --button-color: #dd541e;
  --button-active-color: #ab3e14;

  /* font size template */
  --hero-font-size: 48px;
  --head-font-size: 40px;
  --pre_title-font-size: 12px;
  --title-font-size: 20px;
  --about-font-size: 14px;
  --text-font-size: 16px;
  --info-font-size: 10px;

  /* line height template */
  --hero-line-height: 60px;
  --head-line-height: 50px;
  --pre_title-line-height: 12px;
  --title-line-height: 25px;
  --about-font-size: 21px;
  --text-line-height: 27px;
  --info-line-height: 15px;

  /* margin & padding template */
  --main-margin: 1rem;
  --container-padding: 7rem;
  --card-padding: 40px;

  /* border radius template */
  --big-radius: 8px;
  --small-radius: 4px;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica', sans-serif !important;
  scroll-behavior: smooth !important;
  transition: 0.4s ease-out all;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  font-size: 32px;
  line-height: 40px;
  color: #343a40;
}
