.selected_lang {
  /* position: absolute;
  right: 15px; */
  position: relative;
}

.language_list {
  position: absolute;
  top: 140%;
  width: 170px;
  right: 7%;
  background-color: white;
  padding: 0;
  box-shadow: 0 0 4px 0.1px var(--primary-color);
}

.selected_item {
  padding: 10px 25px 10px 0;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
}

.selected_item img {
  margin-right: 10px;
  width: 40px;
  height: 25px;
  object-fit: cover;
  border-radius: 0;
}

.language_item {
  padding: 20px 27px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  font-weight: bold;
  color: black;
}

.language_item:hover {
  color: white;
  background-color: var(--secondary-color);
}

.language_item img {
  margin-right: 10px;
}

@media (max-width: 600px) {
  .language_list {
    position: absolute;
    top: 50px;
    width: 160px;
    left: -20px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--secondary-color);
  }

  .selected_item {
    justify-content: center;
  }

  .language_item {
    padding: 10px 12px;
    font-size: 0.6em !important;
  }

  .language_item:hover {
    color: var(--primary-color);
  }

  .language_item img {
    margin-right: 20px;
    margin-left: 15px;
  }
}

@media (max-width: 850px) and (min-width: 600px) {
  .language_list {
    position: absolute;
    top: 120%;
    width: 60% !important;
    right: 17%;
    background-color: white;
  }

  .selected_item {
    justify-content: center;
  }

  .language_item {
    padding: 5px 24px;
    font-size: 0.8em !important;
  }

  .language_item:hover {
    color: var(--primary-color);
  }

  .language_item img {
    margin-right: 20px;
    margin-left: 15px;
  }
}
